* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, h1, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1, p {
    text-transform: uppercase;
    letter-spacing: .25em;
}

.disclaimer {
    display: none;
}

body {
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: overlay;
    background-image: url("./images/festival.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 100%;
}

.ticket {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8em 1fr 3em 3em;
    border-collapse: collapse;
}

.title {
    background-color: black;
    color: white;
    grid-column: 1 / span 2;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;    
    gap: .625em;
}

.title h1 {
    font-size: 2.6em;
}

.qr {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
}

.qr img {
    max-width: 400px;
}

.price {
    grid-column: 1 / span 2;
}

.date, .admit, .price {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1.15em;
}

.light_text {
    font-weight: 400;
    margin-left: .625em;
}

.date {
    border: 1px solid black;
}

.admit {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.price {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}